<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/unnamed.png" />

    <!-- Links a Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Koulen&family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- Link a Fontawesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />

    <!-- link a mi CSS -->
    <link rel="Stylesheet" href="/css/normalize.css" />
    <link rel="Stylesheet" href="/css/styles.css" />

    <title>Register Mercado Liebre</title>
  </head>

  <body class="bg-light-grey">
    <header class="bg-yellow">
      <div class="header align-center flex flex-wrap bg-yellow centrado1200">
        <h1 class="w-45 logo">
          <a href="/"
            ><img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre"
          /></a>
        </h1>
        <div
          class="p-1 w-45 flex radius-1 bg-white busquedaContainer align-center"
        >
          <input
            class="busqueda"
            type="text"
            placeholder="Buscá productos por nombre, marcas o palabras clave"
          />
          <button class="bg-white b-none">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
        <p class="txt-center w-100 textHeader">
          <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
          tarjeta de crédito
        </p>
        <div class="burgerMenu txt-center bg-blue mx-auto w-100">
          <a href="" class="icon"> <i class="fas fa-bars color-white"></i></a>
        </div>

        <nav id="links" class="nav font-lg w-100 txt-center">
          <section class="section1 flex flex-column felx-wrap">
            <ul class="nav-list">
              <li><a class="nav-link" href="#">Ofertas</a></li>
              <li><a class="nav-link" href="#">Tiendas Oficiales</a></li>
              <li><a class="nav-link" href="#">Vender</a></li>
              <li><a class="nav-link" href="#">Ayuda</a></li>
            </ul>
          </section>
          <section class="section2 flex flex-column felx-wrap">
            <ul class="nav-list">
              <li>
                <a class="nav-link" href="/register"
                  >Crea tu cuenta <i class="fa-regular fa-address-card"></i
                ></a>
              </li>
              <li>
                <a class="nav-link" href="/login"
                  >Ingresá <i class="fa-sharp fa-solid fa-right-to-bracket"></i
                ></a>
              </li>
              <li>
                <a class="nav-link" href="#"
                  >Mis Compras <i class="fa-solid fa-basket-shopping"></i
                ></a>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </header>
    <main class="p-1 vw-80 mx-auto mt-1">
      <h2 class="title color-dark-grey txt-center mt-1">Registrate</h2>
      <form
        action=""
        class="mx-auto mb-1 mt-1 flex flex-column flex-wrap box-shadow radius-1"
      >
        <input
          class="w-100 font-m"
          type="text"
          placeholder="Nombre y Apellido"
          id="nombreApellido"
        />

        <label class="hidden" for="nombreApellido">Nombre y Apellido</label>

        <input
          class="w-100 font-m"
          type="text"
          placeholder="Nombre de Usuario"
          id="newUser"
        />

        <label class="hidden" for="newUser">Nombre de Usuario</label>

        <input
          class="w-100 font-m"
          type="password"
          id="newPassword"
          placeholder="Contraseña"
        />

        <label class="hidden" for="newPassword">Password</label>

        <input
          class="w-100 font-m"
          type="password"
          id="repeatPassword"
          placeholder="Repetir contraseña"
        />

        <label class="hidden" for="repeatPassword">Repetir contraseña</label>

        <p class="w-100 font-m txt-center">Fecha de Nacimiento</p>
        <input
          class="w-100 font-m"
          type="date"
          placeholder="Fecha de Nacimiento"
          id="birthday"
        />

        <label class="hidden" for="birthday">Fecha de Nacimiento</label>

        <input class="w-100 font-m" type="text" placeholder="Domicilio" />

        <label class="hidden" for="adress">Domicilio</label>

        <div class="" id="perfilUser">
          <label for="perfilUser" class="w-100 font-lg block mb-1">
            Perfil de usuario
          </label>

          <input type="radio" name="perfildeUsuario" id="comprador" />
          <label class="font-m" for="comprador">Comprador</label>
          <input type="radio" name="perfildeUsuario" id="vendedor" />
          <label class="font-m" for="vendedor">Vendedor</label>
        </div>

        <div class="" id="intereses">
          <label for="intereses" class="w-100 font-lg block mb-1 mt-1">
            Intereses
          </label>

          <input
            class="font-m inline-block mr-1"
            type="checkbox"
            name=""
            id=""
          />
          <label class="font-m inline-block" for="">Electro</label><br />
          <input
            class="font-m inline-block mr-1"
            type="checkbox"
            name=""
            id=""
          />
          <label class="font-m inline-block" for="">Moda</label><br />
          <input
            class="font-m inline-block mr-1"
            type="checkbox"
            name=""
            id=""
          />
          <label class="font-m inline-block" for="">Hogar</label><br />
          <input
            class="font-m inline-block mr-1"
            type="checkbox"
            name=""
            id=""
          />
          <label class="font-m inline-block" for="">Jugueteria</label><br />
          <input
            class="font-m inline-block mr-1"
            type="checkbox"
            name=""
            id=""
          />
          <label class="font-m inline-block" for="">Vida Sana</label><br />
        </div>

        <div class="mt-1">
          <label class="font-lg" for="fotoPerfil"
            >Selecciona tu foto de perfil:
          </label>
          <input
            class="font-m"
            type="file"
            id="fotoPerfil"
            name="fotoPerfil"
            accept="image/png, image/jpeg"
          />
        </div>
        <div class="buttons">
          <button
            class="bg-blue color-white b-none radius-1 formButton pointer"
            type="submit"
          >
            Enviar
          </button>
          <button
            class="bg-blue color-white b-none radius-1 formButton pointer"
            type="reset"
          >
            Borrar Datos
          </button>
        </div>
      </form>
    </main>

    <footer class="bg-white mt-auto">
      <div class="footer mt-auto flex flex-column bg-white centrado1200">
        <div class="footerInfo txt-center">
          <i class="fa-solid fa-credit-card footerIcon color-blue"></i>
          <h4 class="color-dark-grey font-m">Pagá con tarjeta o en efectivo</h4>
          <p class="color-dark-grey font-m">
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
        <div class="footerInfo txt-center">
          <i class="fa-solid fa-gift footerIcon color-blue"></i>
          <h4 class="color-dark-grey font-m">Envío gratis desde $ 2.500</h4>
          <p class="color-dark-grey font-m">
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>
        <div class="footerInfo txt-center">
          <i class="fa-solid fa-user-shield footerIcon color-blue"></i>
          <h4 class="color-dark-grey font-m">Seguridad, de principio a fin</h4>
          <p class="color-dark-grey font-m">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </div>
        <p class="w100 color-dark-grey font-m mx-auto inline-block">
          Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>
      </div>
    </footer>
  </body>
</html>
